<header>
	<div class="container">
		<div class="row">
			<div class="col">
				<h1><a href="/">Exuda CMS</a></h1>
				<small class="font-style-italic">A Nodejs Content Management System</small>
			</div>
			<div class="col">
				<ul class="pt-2 d-flex float-right list-unstyled">
					<li><a href="/login">Login</a></li>
					<li class="ml-2"><a href="/register">Registry</a></li>
				</ul>
			</div>
		</div>
	</div>
</header>