<!DOCTYPE html>
<html>
<head>
	<? include ../partials/head ?>
	<title><?= title ?></title>
</head>
<body>
	<div class="dashboard-main-wrapper">
		<? include ../partials/header ?>
		<? include ../partials/sidebar ?>
		<div class="dashboard-wrapper">
			<?- body -?>
			<? include ../partials/footer ?>
		</div>
	</div>
</body>
</html>
