<% layout('./layouts/page') -%>
<div class="body-content">
	<div class="container">
		<h1><%= title %></h1>
		<p><%= __("Hello %s", 'GG') %>, Welcome to <%= title %></p> 
		<p><a href="/about">Về Chúng Tôi</a></p>
	</div>
</div>