<? layout('/layouts/page') -?>
<div class="body-content">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-md-4">
				<h1 class="text-center"><?= __('Password Reset') ?></h1>
				<form method="POST" action="/password-reset">
					<input type="hidden" name="_csrf" value="<?= csrf() ?>">
					<div class="form-group">
						<label for="mail" class="font-weight-bold"><?= __("Email address") ?></label>
						<input type="text" name="mail" class="form-control form-control-sm<?= (isset(typeof errors) && errors['mail'])?" is-invalid":null ?>" value="<?= (isset(typeof errors) && errors['mail'])?errors['mail']['value']:null ?>" id="mail" aria-describedby="emailHelp" placeholder="<?= __("Enter email") ?>">
						<div class="invalid-feedback"><?= __((isset(typeof errors) && errors['mail'])?errors['mail']['msg']:"Please provide a valid email") ?>.</div>
						<small id="emailHelp" class="form-text text-muted"><?= __("We'll send a password reset confirm to the email you entered.") ?></small>
					</div>
					<div class="form-group text-center">
						<button type="submit" class="btn btn-sm btn-success"><i class="fas fa-envelope"></i> <?= __("Send mail") ?></button>
					</div> 
				</form>
			</div>
		</div>
	</div>
</div>